@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

.main_Container {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
}
.Left_halfsignup {
  width: 50%;
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .Right_halfsignup {
    display: none !important;
  }
  .main_Container {
    background-image: url("../../assets/backgroundimg.png");
  }
  .logo_response {
    background-image: url(/src/assets/bottle.png);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100%;
    width: 250px;
    height: 80px;
    margin: auto;
  }
}

@media (max-width: 480px) {
  .input_container {
    max-width: 250px;
  }
  .btn_txt {
    max-width: 273px;
  }
  .logo_response {
    max-width: 200px;
  }
  .Login_container {
    font-size: 35px !important;
  }
}
.Login_container {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 500;
}
.add_cont {
  font-size: 16px;
}
.image_logo {
  margin-left: -32px;
  margin-bottom: 30px;
}
.image_container {
  width: 340px;
  height: 85px;
}
.Inner_leftsignup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;

  margin: auto;
}
button,
input,
select {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.logn_cont {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: #333333;
}
.google_container {
  margin-right: 20px;
  width: 25px;
  height: 25px;
}
.label_cont {
  margin-bottom: 20px;
  /* font-weight: 600; */
  color: black;
  font-size: 17px;
}
::placeholder {
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.pass_cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.out_cont {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.input_container {
  width: 400px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}
.check_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 319px;
}
.check_design {
  width: 15px;
  height: 15px;
}
.check_inputsignup {
  display: flex;
  align-items: center;
}
.btn_txt {
  font-size: 20px;
  color: white;
  width: 422px;
  border-color: #2f80ed;
  background-color: #111a39;
  padding: 10px;
  border-radius: 6px;
}
.ckeck_txt {
  margin-left: 10px;
  font-size: 16px;
  /* color: gray; */
}
.Right_halfsignup {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/backgroundimg.png");
  flex-shrink: 0;
  background-size: cover;
}
.Inner_rightsignup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

p,
label,
h1 {
  margin: 0;
  padding: 0;
}
.error_msg {
  color: red;
  font-size: 12px;
  margin-top: 10px;
  /* font-weight: 600; */
}
.sucess_msg {
  color: green;
  font-size: 15px;
}
.pass_icon_cont {
  position: relative;
  right: 0px;
  bottom: 15px;
}
.eye_img_cont{
  position: absolute;
  width:20px;
  height:20px;
  right: 20px;
  bottom: -7px;
}
.password_cont{
  position:relative;
}
