@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

button,
select,
input,
body {
  font-family: "Raleway", sans-serif;
}

.main_Container {
  height: 98vh;
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
}
.Left_half {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .Right_half {
    display: none !important;
  }
  .main_Container {
    background-image: url("../../assets/backgroundimg.png");
  }
  .logo_response {
    background-image: url(/src/assets/bottle.png);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100%;
    width: 250px;
    height: 80px;
    margin: auto;
  }
}
@media (max-width: 480px) {
  .or_cont {
    max-width: 250px;
  }
}

.or_cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.extra_design {
  justify-content: center;
  align-items: center;
}
.Login_container {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 500;
}
.add_cont {
  font-size: 16px;
}
.image_container {
  width: 358px;
  height: 85px;
}
.Inner_left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin: auto;
}
button,
input {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 6px;
  background: #fff;
}
.logn_cont {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: #333333;
}
.google_container {
  margin-right: 20px;
  width: 25px;
  height: 25px;
}
.label_cont {
  margin-bottom: 20px;
}
.txt_cont {
  font-size: 12px;
  color: gray;
}
.pass_cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.forget_pass {
  font-size: 15px;
  color: #111a39;
  text-decoration: none;
}
.out_cont {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.input_container {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.check_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 319px;
}
.check_design {
  width: 15px;
  height: 15px;
}
.check_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn_txt {
  font-size: 20px;
  color: white;
  border-color: #2f80ed;
  background-color: #111a39;
  padding: 10px;
  border-radius: 6px;
  margin-top: 20px;
}

.Right_half {
  width: 50%;
  height: 102vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/backgroundimg.png");
  flex-shrink: 0;
  background-size: cover;
}
.Inner_right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

p,
label,
h1 {
  margin: 0;
  padding: 0;
}

.pass_icon_login {
  position: relative;
  right: 7px;
  bottom: 3px;
}
.eye_img_contLogin {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 3px;
  bottom: 5px;
}
