.main_Container {
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
}
.Left_half {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}
.Right_half {
  width: 100%;
  height: 100vh;
  background-color: #09243b;
}

@media (max-width: 750px) {
  .main_Container {
    flex-direction: column !important;
    height: 100vh;
    width: 100%;
  }
}
.image_container {
  width: 100px;
}
.Inner_left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: auto;
  background-color: azure;
}
button,
input {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.btn_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  /* border: 1px solid grey; */
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 2px -1px rgba(163, 161, 161, 0.2);
}
.google_container {
  width: 25px;
  height: 25px;
}
.txt_cont {
  font-size: 12px;
  color: gray;
}
.out_cont {
  margin-top: 20px;
}
.input_container {
  width: 300px;
  padding: 10px;
  /* border: 1px solid grey; */
  border-radius: 5px;
  box-shadow: 0 4px 2px -1px rgba(163, 161, 161, 0.2);
}
.check_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 319px;
}
.check_design {
  width: 15px;
  height: 15px;
}
.check_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn_txt {
  font-size: 15px;
  font-weight: 600;
  color: white;
  width: 315px;
  background-color: #323596;
  padding: 10px;
  border-radius: 3px;
}
.ckeck_txt{
  margin-left: 10px;
  font-size: 15px;
  color: gray;
}
